@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url("typography.css");

:root {
  --white: #ffffff;
  --primary-black: #363636;
  --orange: #f9951a;
  --yellow: #f6b000;
  --grey-base: #8c8c8c;
  --grey-light: #898989;
  --grey-1: #f4f4f4;
  --grey-2: #959595;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background: var(--white);
  height: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: var(--primary-black);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-josefin {
  font-family: "Josefin Sans", sans-serif;
}

body,
ul,
ol,
dl {
  margin: 0;
}

article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}

a {
  text-decoration: none;
}

main {
  padding-top: 173px;
}

p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-bottom: 0;
}

img {
  border: none;
  max-width: 100%;
}

.text-italic {
  font-style: italic;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.primary-btn {
  font-family: "Josefin Sans", sans-serif;
  background: var(--yellow);
  color: var(--white);
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  padding: 6px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  outline: none;
  border: none;
  cursor: pointer;
}

.primary-btn.small {
  padding: 10px 20px;
  height: auto;
}

.primary-btn:hover {
  color: white;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.border-top {
  border-top: 1px solid rgba(168, 168, 168, 0.3);
}

.header-top-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 11;
  padding: 20px 0;
  background: var(--white);
  transition: ease-in-out padding 0.65s;
}

.header-top-fixed .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-top-fixed .logo img {
  width: 146px;
}

.header-top-fixed .menu-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10vw;
}

.header-top-fixed .main-menu {
  padding: 0 20px;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.header-top-fixed .main-menu li {
  margin: 0 5px;
}

.header-top-fixed .main-menu a {
  padding: 0 24px;
}

.header-top-fixed .main-menu a:hover {
  color: var(--orange);
}

.header-top-fixed .main-menu .active {
  border-bottom: 3px solid var(--orange);
  padding: 10px;
  color: var(--orange);
}

/* .header-top-fixed .main-menu li {
  border-right: 1px solid var(--grey-2);
} */

.header-top-fixed .main-menu li:last-child {
  border-right: none;
}

footer {
  /* position: absolute;
  bottom: 0; */
  width: 100%;
}

footer p {
  width: 100%;
  padding: 26px 0px;
  text-align: right;
}

#sidebar-overlay {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.sidebar-menu {
  position: fixed;
  top: 0;
  left: -340px;
  z-index: 99;
  width: 340px;
  height: 100%;
  overflow-y: auto;
  box-shadow: 0 6px 12px rgba(107, 82, 82, 0.3);
  background-color: white;
  transition: ease 0.3s all;
}

body.sidebar-menu-open #sidebar-overlay {
  display: block;
}

body.sidebar-menu-open .sidebar-menu {
  left: 0;
}

.sidebar-content {
  position: relative;
  height: 100vh;
}

.sidebar-header-content {
  margin-top: 40px;
}

.sidebar-header-content .sidebar-menu-items {
  list-style: none;
}

.sidebar-header-content .sidebar-menu-items li {
  margin-bottom: 16px;
}

.sidebar-footer {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100%;
}

#sidebar-close-icon {
  height: 24px;
  cursor: pointer;
}

.hamburger-icon {
  height: 60px;
  width: 60px;
  padding-right: 25px;
  padding-top: 15px;
  display: none;
}

@media only screen and (max-width: 767px) {
  .header-top-fixed .menu-wrapper {
    display: none;
    /* width: 50%; */
  }

  main {
    padding-top: 73px;
  }

  .header-top-fixed .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .header-top-fixed .logo img {
    width: 110px;
    margin-left: -30px;
  }

  .hamburger-icon {
    display: block;
  }
  .welcome-section .welcome-desc {
    width: 100%;
    margin: 0 auto;
  }
}

.welcome-section {
  padding: 56px 0;
  text-align: center;
}
.welcome-section .welcome-desc {
  width: 65%;
  margin: 0 auto;
}
.media-section {
  text-align: center;
  margin-bottom: 200px;
}
.section-title {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.section-title::after {
  content: "";
  height: 1px;
  margin: 0 12px;
  flex: 1;
  border: 1px solid rgba(168, 168, 168, 0.3);
}
.mediaCard {
  position: relative;
  cursor: pointer;
  height: 280px;
  margin-right: -5px;
}
.mediaCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mediaCard .media-content {
  position: absolute;
  line-height: 1px !important;
  left: 26px;
  bottom: 10px;
  text-align: left;
  z-index: 99;
}
.mediaCard .media-content .media-views {
  position: relative;
  padding-left: 46px;
}
.mediaCard .media-content .media-views::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 40px;
  height: 1px;
  background: var(--white);
}
.mediaCard .media-card-overlay {
  position: absolute;
  height: 300px;
  width: 100%;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 24.48%, #121212 100%);
  left: 0;
  bottom: 0;
  z-index: 0;
}
.grid{
   margin-bottom: 12px;

}

.grid.odd-row .grid-item {
  width: 33.33%;
  height: 364px;
}
.grid.odd-row .item-2 {
  width: 66.66%;
  height: 364px;
}
.grid.even-row .grid-item {
  width: 33.33%;
  height: 406px;
}

.all-photos-list {
  font-size: 14pt;
  font-weight: 500;
}

.categories-list {
  list-style: none;
  padding: 20px 10px;
  text-align: left;
  margin-top: 10px;
}

.categories-list p {
  padding: 8px 0;
}

.category-single {
  color: var(--grey-base);
  padding-left: 15px !important;
  text-decoration: none;
}

.category-single.active {
  color: var(--orange);
  background-color: var(--grey-1);
}

.forgot-password {
  padding-top: 14px;
  display: inline-block;
  color: var(--orange) !important;
}

.btn-primary {
  background-color: var(--orange) !important;
  border: none !important;
}

.primary-link {
  color: var(--orange);
}

.grey-bg {
  background-color: var(--grey-1);
  padding: 3em 5em;
}

.photo-view-table {
  width: 100%;
}

.photo-view-table td {
  color: var(--orange);
  text-align: left !important;
}

.photo-view-table th {
  font-weight: 800;
  text-align: left !important;
}

/* lightbox */
.photo-gallery {
  color:#313437;
  background-color:#fff;
}
.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .item {
  padding-bottom:30px;
  /* text-align: center; */
}

#fade {
   
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
  transition-duration: 5s;
  transition-delay: 2s;
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 70%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: block;  
  transition-duration: 5s;
  transition-delay: 2s;
  
}

#boxclose {
  /* float: right; */
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 21px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 13px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
  transition: display 0s linear;
}

/* fancybox=== */

.clear:after, .clear:before {
	content: '';
	display: table;
	clear: both;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gallery a {
    display: block;
    text-decoration: none;
    width: 100%;
    overflow: hidden;
    outline: none;
}

.gallery a img {
    height: 100%;
    transform: scale(1,1);
    transition: all 300ms ease;
}

.gallery a img:hover {
    transform: scale(1.1,1.1);
}


.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  transform: scale(1,1);
  transition: all 300ms ease;
}
.bg .media-content {
  position: absolute;
    left: 0px;
    bottom: 1px;
    text-align: left;
    z-index: 99;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0.48%, #121212 100%);
    width: 100%;
    padding-left: 20px;
}
.bg .img_header {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg .play_button {
  width: 40px;
}
.bg .media-content .media-views {
  position: relative;
  padding-left: 46px;
}
.bg .media-content .media-views::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 40px;
  height: 1px;
  background: var(--white);
}
.bg .media-card-overlay {
  position: absolute;
  height: 300px;
  width: 100%;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 24.48%, #121212 100%);
  left: 0;
  bottom: 0;
  z-index: 0;
}
/* .bg:hover {
    transform: scale(1.1,1.1);
} */

.category-text {
  text-overflow: ellipsis;
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
  text-align: center;
}

@media(max-width: 991px) {
  .card-img-top {
    height: 30vw;
  }

  .category-single.active {
    background-color: transparent;
  }

  .form_box {
    width: 75vw !important;
  }
  .errox_msg_box{
    width: 75vw !important;
  }
	/* .gallery a {
		width: 50%;
	} */
  .mediaCard {
    height: 180px;
  }
  .bg .media-card-overlay {
    height: 180px;
  }

}

@media(max-width: 1024px) {
  .login_part{
    height: calc(100vh - 73px);
    background-image: none !important; 
    width: 100vw;
  }

  .login-left-image {
    display: none !important;
  }
  .form_box {
    width: 75vw !important;
  }
  .errox_msg_box{
    width: 75vw !important;
  }
}

@media(max-width: 767px) {

  .hello_head {
    font-size: 40px !important;
  }

  .footer-paragraph {
    text-align: center !important;
    font-size: 12px;
  }

  .categories-list {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    list-style: none;
    padding: 5px 10px 0px 10px;
    margin-top: 40px !important;
    text-align: left;
    margin-top: 10px;
  }

  .category-text {
    font-size: 11px;
  }

  .categories-list::-webkit-scrollbar {
    display: none;
  }

  .categories-list {
    white-space: nowrap;
    overflow: scroll;
  }
  .categories-list li {
    display:inline-block;
  }
  .categories-list p {
    padding: 8px;
  }
  .decrease-line-height {
    font-size: 10pt;
    text-overflow: ellipsis;
  }

  .media-content .sub-heading {
    font-size: 9pt;
    text-overflow: ellipsis;
  }

	.gallery a {
		width: 100%;
	}

	.bg {
		height: 180px;
	}

}
.fancybox-button--share, .fancybox-button--play{
  display:none !important;
}

.card-img-top {
  height: 15vw;
  object-fit: cover;
}

.category-card {
  border: none !important;
  border-radius: 0%;
}

.decrease-line-height {
  line-height: 10px !important;
}

/* Login================ */
.sm_text{
  color: #9A9A9A;
  font-size: 18px;
  font-weight: 500;
  padding-left: 66px;
}
.main_text_div{
 
  border-left: 50px solid #E5E5E5 ;
}
.main_text1{
  color: #363636;
  font-size: 90px;
  font-weight: 800;
  line-height: 75px;
  padding-left: 25px;
}
.main_text2{
  color: #F9951D;
  font-size: 90px;
  font-weight: 800;
}
.sub_main_text{
  color: #9A9A9A;
  font-size: 25px;
  font-weight: 500;
  padding-left: 66px;
}
.login_part{ 
  /* height: 75vh; */
  background-image: url(../images/bg.jpeg);
  background-size: contain;
  display: block;
  /* width: 50%; */
}
.fill {
  min-height: calc(100vh - 173px);
  height: calc(100vh - 173px);
}
.form_box {
  width: 28vw;
  height: 85%;
  margin-top: 30px;
  background: rgb(211,215,215);
  background: linear-gradient(0deg, rgb(78 78 78 / 71%) 0%, rgba(255,253,253,1) 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

textarea, input {
  opacity: 0.6;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  opacity: 1;
  border-color: transparent;
  box-shadow: 0 1px 1px transparent inset, 0 0 8px transparent;
  outline: 0 none;
}

.hello_head {
  color: #676767;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  padding-top: 46px;
  letter-spacing: -3px;
}
.hello_head_sm {
  font-size: 14px;
  font-weight: 500;
  color: #8c8b8b;
  line-height: 20px;
  padding-top: 5px;
}
.hello_head_md{
    color: #676767;
    font-size: 16px;
    font-weight: 600;
}
.small{
    font-size: 14px;
    font-weight: 500;
    color: #8c8b8b;
    }
.footer_text{
    position: absolute;
    bottom: 0px;
}

.full-width-div {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

.login-left-image {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.underline {
  text-decoration: underline;
}

.msg {
  color: white;
  padding: 10px 0px;
}

.msg-success {
  background-color: #4bb543;
}

.msg-info {
  background-color: #00FFFF;
}

.msg-danger {
  background-color: #FF0000;
}

.msg-warning {
  background-color: rgb(238, 200, 134);
}
.errox_msg_box{
  width: 28vw;
  padding: 0;
  margin-top: 5px;
}

@media only screen and (max-width: 990px) {
  .login_part{ 
    height: calc(100vh - 73px);
    background-image: none !important; 
  }
  .form_box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hello_head_md {
    font-size: 13px;
  }
  .categories-list-item {
    display: none;
  }
  .all-photos-list {
    font-size: 16px;
  }
  .categories-image-list {
    margin-top: -5px !important;
  }
}

@media only screen and (max-width: 767px) {
  .login_part {
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .form_box{
    width: 90%;
  }
  .errox_msg_box{
    width: 90%;
    padding: 0;
  }
  .card-img-top {
    height: 40vw;
  }
}

.list-inline li {
  cursor: pointer;
  padding: 7px 0px;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  color: #888 !important;
  display: inline-block;
}

.list-inline li a {
  color: var(--orange);
}

.list-inline .next {
  color: white !important;
}

.list-inline {
  margin-top: 50px;
}
